<div class="card  bg-dark">
    <div class="car-body p-3">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat doloribus suscipit inventore praesentium. Laudantium soluta et autem exercitationem ad incidunt, fugit culpa adipisci libero doloremque omnis facilis. Placeat, voluptas iste!
        Quae maiores quisquam exercitationem recusandae, ducimus, inventore omnis modi a neque nobis et quod iste! Molestiae provident quos ratione, quo rem cumque, veritatis cupiditate sapiente perferendis, laboriosam recusandae. Similique, pariatur!</p>
    </div>
</div>