<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card ">
            <div class="card-body">
                <form action="/users/signin" method="post" class="form">
                    <div class="">
                        <h2 class="title-card">Account login</h2>
                    </div>
                    <img src="/img/logo.png" class="logo rounded-circle mx-auto d-block m-4" alt="NodeLogo">
                    <div class="form-group">
                        <input type="email" class="form-control input-sign" name="email" placeholder="Email" autofocus>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control input-sign" name="password" placeholder="Password">
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="sign-button">
                            Sign In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>